html {
  background-image: linear-gradient( to top right, rgb(202, 125, 35), rgb(202, 35, 35));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body {
  display: flex;
  background-color: transparent;
}
.titulo::before {
  content: url(https://cdn.discordapp.com/attachments/931271123465809980/943136835318726786/guild-Eternos-flag.png);
  position: absolute;
  left: 20%;
  top: 20%;
  opacity: 0.8;
}

h1 {
  -webkit-text-stroke: 3px gold;
  text-align: center;
  font-family: "MedievalSharp", cursive;
  color: wheat;
  font-weight: 200;
  font-size: 10em;
  margin-bottom: 15rem;
  margin-top: 0;
}

h2 {
  -webkit-text-stroke: 2px gold;
  text-align: start;
  font-family: "MedievalSharp", cursive;
  color: white;
  font-weight: 100;
  font-size: 4em;
  margin-bottom: -1.2rem;
  margin-top: 15rem;
}

h3 {
  text-align: center;
  margin: 0;
}

h5 {
  text-align: center;
  margin: 0;
  border-radius: 2rem;
  padding: 0.5em;
  /* background-color: rgba(0, 0, 0, 0.8); */
  text-align: center;
  font-weight: 400;
}
.row {
  align-content: center;
  margin: auto;
}


@media only screen and (max-width: 800px) {
  .bandeira{
    display: none;
  }
}
